In [12]:
#Apply split function on the following string = "HELLO, WORLD, HOW, ARE, YOU".Example to apply split function:
txt="HELLO, WORLD, HOW, ARE, YOU"
n=txt.split(",")
print(n)

['HELLO', ' WORLD', ' HOW', ' ARE', ' YOU']

In [14]:
#Apply replace function on the string "HELLO WORLD" and replace "WORLD" with "THERE!" using built in function replace. 
#PLEASE SEARCH ON GOOGLE ABOUT REPLACE and SPLIT FUNCTION
txt="hello world"
name=txt.replace("world","there")
print(name)

hello there

In [ ]:
#Given a string "[1,2,3,4,5,6,7,8,9,10]", generate list of items out of this i.e., ['1','2','3','4'..
l=[1,2,3,4,5,6,7,8,9,10]
print(l)

In [ ]:
#Given a list of numbers. Find the average/Mean value.
a='12'
b='15'
c='30'
sum=a+b+c
print(sum)

In [ ]:
#Using indexing on the list [["Kolkata",[2,3,4,5]],["Delhi",[10,12,14,18]]]
list=[["Kolkata",[2,3,4,5]],["Delhi",[10,12,14,18]]]
list[6]

In [ ]:
#Given a list of length 3 find the variance of the list

In [ ]:
#Given ['Challenge', 'accepted,', 'ready','for','the learning','curve'] list. Convert this to a statement using join function. Output should be "Challenge accepted, ready for the learning curve".

In [ ]:
#Given a string "HAPPY LEARNING ALL" please find the first and last index of "LEARNING" using inde and length function