In [6]:
#indaxing use 
example ='i love data science'
example

'i love data science'

In [2]:
example[0]

'i'

In [7]:
len(example)

19

In [8]:
example[18]

'e'

In [9]:
example[0:5]# it always use - 1 to .

'i lov'

In [11]:
example[0:5]

'i lov'

In [12]:
#syntax of idexing 
#list [start:end:setps] 
example[::2]

'ilv aasine'

In [13]:
example[0]

'i'

In [15]:
example[0:11]

'i love data'

In [17]:
example[0:19:2]

'ilv aasine'

In [18]:
example[::-1]

'ecneics atad evol i'

In [32]:
example[11::-1]

' atad evol i'

In [34]:
#comparision opertor 
name1="bhupi"
name2="bhupi"
name1==name2

True

#Relational opertors
nun1=2
num3=4
num1>num3

In [36]:
#Relational opertors(<,>,<=,>=,==,!=)
num1=2
num3=4
num1>num3

False

In [38]:
num1=2
num2=2
print(num1>=num2)

True

In [40]:
num1=34
num2=34
print(num1!=num2)

False

In [42]:
#strings 
str1="a"
str2="A"
print(str1!=str2)

True

In [43]:
str1="a"
str2="A"
print(str1>str2)

True

In [44]:
str1="a"
str2="A"
print(str1>=str2)

True

In [47]:
# we cannot assign any keywords to as varibale name (if its trun green )
True=false
false

SyntaxError: cannot assign to True (571475065.py, line 1)